.Selected {
  font-size: 1.6rem;
  width: 100%;
  position: relative;
  height: 4rem;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color);
}
.Title {
  padding-top: 1.8rem;
  text-transform: uppercase;
  color: var(--primary-color-light);
}

.SelectedTitle {
  padding-top: 1.8rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.SearchFilterBox {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.SearchFilterContainer {
  width: 100%;
  opacity: 0;
  margin: 1rem 0;
  display: none;
  height: 100%;
  max-height: 0;
  border-radius: 4px;
}

.SearchFilterContainer.Active {
  opacity: 1;
  max-height: 25rem;
  display: block;
  overflow-y: scroll;
}

.SearchFilterContainer::-webkit-scrollbar {
  display: none;
}

.SearchFilterContainer {
  box-shadow:0 0 5px var(--primary-color-light);
}

.ListItem {
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: var(--color-primary);
  padding: 5px 1rem;
}

.ListItem:not(:last-of-type) {
  margin-right: 1rem;
}
