.Btn {
  /* width: 10rem; */
  height: auto;
  background-color: var(--secondary-color);
  padding: 1rem 1.5rem;
  font-weight: 600;
  /* font-size: 1.6rem; */
  font-family: inherit;
  border: none;
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  
}

.Btn:disabled {
  background-color: var(--color-primary-light);
  cursor: not-allowed;
}
